# 忽略所有 node_modules 目录（前后端）
**/node_modules/

# 忽略打包生成目录（Vue 的 dist）
**/dist/

# 忽略本地环境配置文件
**/.env

# 忽略日志文件
**/logs/
**/*.log

# 忽略数据库本地数据（如果有）
*.sqlite
*.db

# VS Code 本地配置（可选）
.vscode/

# macOS / Windows 系统文件
.DS_Store
Thumbs.db
